<form [formGroup]="userForm" (ngSubmit)="updateUserData()">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-0">
      <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" class="theme-tab label-padding">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            Account
          </ng-template>
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <div class="b-1 rounded p-30">
                  <mat-card-title>Personal Details</mat-card-title>
                  <mat-card-subtitle class="mat-body-1">To change your personal detail , edit and save from
                    here</mat-card-subtitle>

                  <div class="row m-t-24">
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block">Full Name</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="full_name" />
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block">Country</mat-label>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select value="Select Country" formControlName="country">
                          @for(countries of countryList; track countries) {
                          <mat-option [value]="countries">{{countries}}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>

                    </div>
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block">Username</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="username" />
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block">Phone Number</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="phone_number" />
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block">Address</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="address" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
      <div class="text-right p-24 p-t-0">
        <button mat-flat-button color="primary" class="m-r-8" [disabled]="!userForm.valid || !userForm.touched"
          type="submit">Save</button>
        <button mat-stroked-button color="warn" type="button">Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>