<mat-sidenav-container>
  <mat-sidenav-content class="">
    <!-- ------------------------------------------------------------------
    Header
    ------------------------------------------------------------------ -->
    <mat-toolbar class="topbar topbar-xl m-auto">
      <div class="container full-width p-xs-6">
        <!-- --------------------------------------------------------------- -->
        <div class="branding p-x-0">
          <a [routerLink]="['/']">
            <img src="/assets/images/angular_logo.png" class="align-middle m-2" alt="logo" height="60" width="60" />
          </a>
        </div>

        <!-- --------------------------------------------------------------- -->
        <span class="flex-1-auto"></span>
        <div class="d-none d-lg-flex">
          <a mat-flat-button color="primary" class="m-l-10" [routerLink]="['/authentication/login']">Login</a>
        </div>

        <!-- Mobile Menu -->
        <button mat-icon-button (click)="filterNavRight.toggle()" class="d-flex d-lg-none">
          <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
        </button>
      </div>
    </mat-toolbar>

    <!-- ------------------------------------------------------------------
   End Header
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Banner
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden banner-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div>
              <h1 class="banner-title m-0">
                Achieve
                <span class="text-primary">your best work online</span>
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                Gain access to free online tools to enhance your productivity
              </p>
              <div class="m-t-24 hstack">
                <a mat-flat-button color="primary" [routerLink]="['/authentication/login']" class="btn-custom">Login</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-flex">
            <div class="p-24 banner-slider">
              <div class="d-flex">
                <div class="slider-img2">
                  <img src="assets/images/angular_logo.png" alt="img1" />
                </div>
                <div class="slider-img2">
                  <img src="assets/images/angular_logo.png" alt="img1" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Banner
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    <!-- ------------------------------------------------------------------
    Demo slider
    ------------------------------------------------------------------ -->
    <div class="bg-extra-light spacer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-11">
            <h2 class="section-title text-center">
              Try out our powerful productivity tools for free.
            </h2>
          </div>
        </div>
      </div>
      <div class="demo-slider overflow-hidden d-flex">
        <div>
          <div class="demo-slide">
            <!-- <img src="assets/images/landingpage/background/slider-group.png" alt="slide" /> -->
            <img src="assets/images/landingpage/background/dashboard_2.jpg" alt="slide" />
          </div>
        </div>
        <div>
          <div class="demo-slide">
            <!-- <img src="assets/images/landingpage/background/slider-group.png" alt="slide" /> -->
            <img src="assets/images/landingpage/background/dashboard_2.jpg" alt="slide" />
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    End Demo slider
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------

    <!-- ------------------------------------------------------------------
    call to action
    ------------------------------------------------------------------ -->
    <div class="container spacer-bottom">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-6">
          <mat-card class="cardWithShadow shape-card bg-size-cover" [style.background-image]="
              'url(/assets/images/landingpage/shape/line-bg.svg)'
            ">
            <mat-card-content class="p-32 text-center">
              <h3 class="f-s-24 f-w-600 m-0 m-t-12 mat-subtitle-1">
                Join us on discord for suggestions, collaborations or queries
              </h3>

              <div class="m-t-30 m-b-16 hstack justify-content-center">
                <a mat-flat-button href="https://discord.com" color="primary" class="btn-custom">Join</a>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    End call to action
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    buy section
    ------------------------------------------------------------------ -->
    <div class="bg-primary spacer-sm">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center m-b-24">
            <div>
              <h3 class="m-t-0 section-title2 text-white m-b-24">
                Be the first to know any time we add a new productivity tool to our platform.
              </h3>
              <div class="hstack">
                <a mat-flat-button [routerLink]="['/authentication/register']"
                  class="text-primary btn-custom sm bg-white f-w-500">Signup</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 text-right">
            <img src="assets/images/landingpage/background/productivity_2.png" alt="img" width="330" />
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    buy section
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    footer
    ------------------------------------------------------------------ -->
    <footer class="p-y-30">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-5 col-lg-4 text-center">
            <span>
              <img src="assets/images/angular_logo.png" alt="logo" height="60" width="60" />
            </span>
            <div class="f-s-14 m-t-8">
              All rights reserved by The Code Angle. Developed by the creator of
              <a href="https://www.youtube.com/@TheCodeAngle" target="_blank" class="text-primary"> The Code Angle</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- ------------------------------------------------------------------
    end footer
    ------------------------------------------------------------------ -->
  </mat-sidenav-content>

  <!-- ------------------------------------------------------------------
    Mobile Sidebar
    ------------------------------------------------------------------ -->
  <mat-sidenav #filterNavRight mode="over" position="end" class="filter-sidebar">
    <div>
      <div class="branding">
        <a [routerLink]="['/']">
          <img src="./assets/images/angular_logo.png" class="align-middle m-2" alt="logo" height="60" width="60" />
        </a>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-s-16 f-w-500"> Apps </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="row">
              @for(appdd of apps; track appdd.link) {
              <div class="col-12 text-hover-primary">
                <a [routerLink]="[appdd.link]" class="d-flex align-items-center text-decoration-none m-b-24">
                  <button mat-mini-fab class="text-primary bg-light-primary shadow-none rounded">
                    <span class="iconify icon-20" [attr.data-icon]="appdd.icon"></span>
                  </button>

                  <div class="m-l-16">
                    <h5 class="f-s-14 f-w-600 m-0 hover-text">
                      {{ appdd.title }}
                    </h5>
                    <span class="mat-body-1 f-s-12">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="p-x-16">
        <a mat-flat-button color="primary" class="w-100" [routerLink]="['/authentication/login']">Login</a>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>