<form [formGroup]="invoiceForm" (ngSubmit)="updateInvoice()">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="row justify-content-between m-b-24">
        <div class="col-sm-4 d-flex align-items-center"></div>
        <div class="col-sm-8 text-right"> <a routerLink="/apps/invoice" mat-stroked-button color="warn" class="m-r-10">
            Cancel
          </a>
          <button type="submit" color="primary" mat-flat-button [disabled]="loading() || invoiceForm.invalid">
            <mat-progress-spinner *ngIf="loading()" diameter="20" mode="indeterminate" color="accent"
              style="margin-right: 8px;"></mat-progress-spinner>
            {{ loading() ? 'Updating...' : 'Update Invoice' }}
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row p-y-24 justify-content-between">
        <div class="col-sm-4">
          <span class="f-w-600 f-s-15 mat-body-1 d-block m-b-8">Order Status:</span>
          <mat-form-field appearance="outline" class="w-100 theme-select">
            <mat-select formControlName="order_status">
              @for (order of orders; track order) {
              <mat-option [value]="order">
                {{ order }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 d-flex align-items-center justify-content-end">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Order Date</mat-label>
            <input formControlName="order_date" type="date" matInput placeholder="Order Date" />
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <h2>From</h2>
      <div class="row m-y-24 p-t-24">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Business Name</mat-label>
            <input formControlName="from_business_name" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email (Optional)</mat-label>
            <input formControlName="from_email" type="email" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address (Optional)</mat-label>
            <input formControlName="from_address" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone Number (Optional)</mat-label>
            <input formControlName="from_phone_number" type="tel" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Invoice Number</mat-label>
            <input formControlName="from_invoice_number" matInput />
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <h2>To</h2>
      <div class="row m-y-24 p-t-24">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Client Name</mat-label>
            <input formControlName="to_client_name" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email (Optional)</mat-label>
            <input formControlName="to_email" type="email" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address (Optional)</mat-label>
            <input formControlName="to_address" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone Number (Optional)</mat-label>
            <input formControlName="to_phone_number" type="tel" matInput />
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <h2>Payment Details</h2>
      <div class="row m-y-24 p-t-24">
        <div class="col-sm-6" *ngFor="let field of paymentFields">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ field.label }}</mat-label>
            <input [formControlName]="field.control" matInput [placeholder]="field.label" />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency">
              @for (currency of currencies(); track currency.code) {
              <mat-option [value]="currency.code">
                {{ currency.name }} ({{ currency.code }})
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <h2>Due Date</h2>
      <mat-form-field appearance="outline" class="w-25">
        <input formControlName="due_date" type="date" matInput />
      </mat-form-field>

      <div>
        <h2>Item Details</h2>
        <div formArrayName="item_details">
          @for (itemDetail of itemDetails.controls; track $index) {
          <div class="row m-y-24 p-t-24" [formGroupName]="$index">
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                <input type="text" matInput placeholder="item description" formControlName="item_description" />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                <input type="number" matInput min="0.01" placeholder="unit price" formControlName="item_unit_price" />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                <input type="number" matInput min="1" placeholder="units" formControlName="item_units" />
              </mat-form-field>
            </div>

            <div class="d-flex align-items-center">
              @if(itemDetails.controls.length > 1) {
              <button type="button" (click)="removeDetails($index)" color="warn" mat-mini-fab>
                <mat-icon>remove</mat-icon>
              </button>
              }
            </div>

            <p class="m-t-8">Unit Total:</p>
            <input type="text" matInput
              [value]="unitTotals()[$index] | currency: (invoiceForm.get('currency')?.value || 'USD')" readonly
              style="border:0; background-color: transparent;" />
          </div>
          }
        </div>
        <div class="d-flex justify-content-start m-t-10">
          <button type="button" mat-mini-fab color="primary" (click)="addDetails()">
            <mat-icon>add</mat-icon>
          </button>
          <span class="m-l-10 f-s-15 f-w-600 d-flex align-items-center">Add Item</span>
        </div>

        <mat-divider style="margin-top: 30px;"></mat-divider>
        <div class="text-right m-t-30">
          <h3 class="m-b-0 p-t-20 f-s-18">Grand Total:
            <span class="f-s-24 f-w-700 m-l-10">
              {{ grandTotal() | currency: (invoiceForm.get('currency')?.value || 'USD') }}
            </span>
          </h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>