table {
  width: 100%;
}

.pdf-hidden {
  display: none !important;
}

a[mat-flat-button] {
  cursor: pointer;
}

@media (max-width: 599px) {
  .mb-mobile-16 {
    margin-bottom: 16px;
  }
}

.totals-container {
  width: 200px;
  margin-left: auto;
  font-size: 16px;
  
}

.totals-row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  
}

.total {
  font-size: 18px;
}

