<mat-card class="cardWithShadow" id="invoiceContent">
  <mat-card-content class="p-24">

    <span>
      <!-- <div class="row m-b-24">
        <div class="col-sm-4 d-flex align-items-center">
          <h4 class="mat-subtitle-2 f-s-18 f-w-600">INVOICE</h4>
          <br />
          <h4 class="mat-subtitle-2 f-s-18 f-w-600">#111</h4>
        </div>
        <div class="col-sm-8 text-right" id="pdfButtons">
          <a mat-stroked-button color="primary" class="m-r-10" [routerLink]="['/apps/invoice']">Back to Invoice</a>
          <a mat-flat-button color="primary" class="m-r-10" disabled>Edit Invoice</a>
          <a mat-flat-button color="primary" (click)="downloadPDF()" class="m-r-10">Download Invoice</a>
        </div>
      </div> -->
      <div class="row m-b-24">
        <div class="col-sm-4 d-flex flex-column flex-sm-row align-items-sm-center mb-mobile-16">
          <h4 class="mat-subtitle-2 f-s-18 f-w-600 me-sm-2">INVOICE</h4>
          <h4 class="mat-subtitle-2 f-s-18 f-w-600">#{{ invoiceData().id || 'N/A' }}</h4>
        </div>
        <div
          class="col-sm-8 d-flex flex-column flex-sm-row justify-content-sm-end align-items-sm-center gap-2 gap-sm-3 mt-3 mt-sm-0"
          id="pdfButtons">
          <a mat-stroked-button color="primary" [routerLink]="['/apps/invoice']">Back to Invoice</a>
          <a mat-flat-button color="primary" disabled>Edit Invoice</a>
          <a mat-flat-button color="primary" (click)="downloadPDF()">Download Invoice</a>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row p-y-24">
        <div class="col-sm-6">
          <span class="f-w-600 f-s-15 mat-body-1"> Order Status: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().order_status}}
          </h6>
        </div>
        <div class="col-sm-6 text-right">
          <span class="f-w-600 f-s-15 mat-body-1"> Order Date: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().order_date | date}}
          </h6>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row p-y-24">
        <div class="col-sm-6">
          <span class="f-w-600 f-s-15 mat-body-1"> Bill From: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().from_business_name}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().from_email}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().from_address}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().from_phone_number}}
          </h6>
        </div>
        <div class="col-sm-6 text-right">
          <span class="f-w-600 f-s-15 mat-body-1"> Bill To: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().to_client_name}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().to_email}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().from_address}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{this.invoiceData().to_phone_number}}
          </h6>
        </div>
      </div>

      <div class="row p-y-24">
        <div class="col-sm-6">
          <span class="f-w-600 f-s-15 mat-body-1"> Account Details: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            <span style="font-weight: bolder;"> Bank Name: </span>{{this.invoiceData().from_bank_account_name}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            <span style="font-weight: bold;">Bank Account Number:</span> {{this.invoiceData().from_bank_account_number}}
          </h6>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            <span style="font-weight: bold;"> Currency: {{this.invoiceData().currency}}</span>
          </h6>
        </div>
      </div>

      <div>
        <h2>Item Details</h2>
        @if (invoiceData().items.length > 0) {
        @for (item of invoiceData().items; track item) {
        <div class="row m-y-24 p-t-24">
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" matInput placeholder="Item Description" [value]="item.item_description" readonly />
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <input type="number" matInput min="1" placeholder="Unit Price" [value]="item.item_unit_price" readonly />
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <input type="number" matInput min="1" placeholder="Units" [value]="item.item_units" readonly />
            </mat-form-field>
          </div>

          <div class="col-12 text-right">
            <p class="f-w-600 m-b-0">Unit Total:</p>
            <input type="text" matInput [value]="item.unit_total_price" readonly
              style="border: 0; background: transparent; font-weight: 600; margin-right: -115px;" />
          </div>

          <mat-divider class="my-3"></mat-divider>
        </div>
        }
        } @else {
        <p class="p-3 text-muted">No items available for this invoice.</p>
        }
        <div class="text-right m-t-30">
          <mat-divider style="margin-top: 30px;"></mat-divider>
          <h3 class="m-b-0 p-t-20 f-s-18">
            Grand Total:
            <input type="text" [value]="invoiceData().grand_total_price" matInput readonly
              style="border:0;background-color: transparent;margin-right: -140px;font-size: inherit;" />
          </h3>
        </div>
      </div>
    </span>
  </mat-card-content>
</mat-card>