<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <span class="f-w-600 f-s-15 mat-body-1 d-block m-b-8">
      Frankfurter API:
    </span>
    <div>
      <div class="table-responsive">
        <table class="table table-hover b-1 no-wrap w-100 rounded">
          <thead>
            <tr>
              <th class="p-16">Amount</th>
              <th class="p-16">From Currency</th>
              <th class="p-16">To Currency</th>
              <th class="p-16">Result</th>
              <th class="p-16"></th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" matInput class="form-control" [(ngModel)]="amountValue"
                    [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </td>
              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                  <mat-label>Select Currency</mat-label>
                  <mat-select [(ngModel)]="fromValue" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                      {{ currency }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                  <mat-label>Select Currency</mat-label>
                  <mat-select [(ngModel)]="toValue" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let currency of currencies" [value]="currency" selected>{{ currency
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" [disabled]="true" matInput matInput class="form-control"
                    value={{this.result()}} />
                </mat-form-field>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <br />

    @if (this.result()) {
    <div> <b>{{this.amountValue()}} {{this.fromCurrency()}} =
        {{this.result()}} {{this.toValue()}} </b></div>
    }

    <button [disabled]="this.amountValue() === '' || this.fromValue() === '' || this.toValue() === ''"
      (click)="onSubmit()" class="mt-5 f-w-500 f-s-12 btn-shadow text-nowrap" mat-button>Convert</button>
  </mat-card-content>
</mat-card>