<!-- Frankfurter Starts -->

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <span class="f-w-600 f-s-15 mat-body-1 d-block m-b-8">
      Frankfurter API:
    </span>
    <div>
      <div class="table-responsive">
        <table class="table table-hover b-1 no-wrap w-100 rounded">
          <thead>
            <tr>
              <th class="p-16">Amount</th>
              <th class="p-16">From Currency</th>
              <th class="p-16">To Currency</th>
              <th class="p-16">Result</th>
              <th class="p-16"></th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" matInput class="form-control" [(ngModel)]="amountValueFrankFurther"
                    [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </td>
              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                  <mat-label>Select Currency</mat-label>
                  <mat-select [(ngModel)]="fromValueFrankFurther" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let currency of frankFurtherCurrencies" [value]="currency">
                      {{ currency }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                  <mat-label>Select Currency</mat-label>
                  <mat-select [(ngModel)]="toValueFrankFurther" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let currency of frankFurtherCurrencies" [value]="currency" selected>{{ currency
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" [disabled]="true" matInput matInput class="form-control"
                    value={{this.resultFrankFurther()}} />
                </mat-form-field>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <br />

    @if (this.resultFrankFurther()) {
    <div> <b>{{this.amountValueFrankFurther()}} {{this.fromCurrencyFrankFurther()}} =
        {{this.resultFrankFurther()}} {{this.toValueFrankFurther()}} </b></div>
    }

    <button
      [disabled]="this.amountValueFrankFurther() === '' || this.fromValueFrankFurther() === '' || this.toValueFrankFurther() === ''"
      (click)="onSubmitFrankFurther()" class="mt-5 f-w-500 f-s-12 btn-shadow text-nowrap" mat-button>Convert</button>
  </mat-card-content>
</mat-card>
<!-- Frankfurter Ends -->









<!-- Exchange Rate API -->
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <span class="f-w-600 f-s-15 mat-body-1 d-block m-b-8">
      Exchange Rate API:
    </span>
    <div>
      <div class="table-responsive">
        <table class="table table-hover b-1 no-wrap w-100 rounded">
          <thead>
            <tr>
              <th class="p-16">Amount</th>
              <th class="p-16">From Currency</th>
              <th class="p-16">To Currency</th>
              <th class="p-16">Result</th>
              <th class="p-16"></th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" matInput class="form-control" [(ngModel)]="amountValueExchangeRate"
                    [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
              </td>
              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                  <mat-label>Select Currency</mat-label>
                  <mat-select [(ngModel)]="fromValueExchangeRate" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let currency of exchangeRateCurrencies" [value]="currency">
                      {{ currency }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                  <mat-label>Select Currency</mat-label>
                  <mat-select [(ngModel)]="toValueExchangeRate" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let currency of exchangeRateCurrencies" [value]="currency" selected>{{ currency
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td class="p-16">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input type="number" [disabled]="true" matInput matInput class="form-control"
                    value={{this.resultExchangeRate()}} />
                </mat-form-field>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <br />

    @if (this.resultExchangeRate()) {
    <div> <b>{{this.amountValueExchangeRate()}} {{this.fromCurrencyExchangeRate()}} =
        {{this.resultExchangeRate()}} {{this.toValueExchangeRate()}} </b></div>
    }

    <button
      [disabled]="this.amountValueExchangeRate() === '' || this.fromValueExchangeRate() === '' || this.toValueExchangeRate() === ''"
      (click)="onSubmitExchangeRate()" class="mt-5 f-w-500 f-s-12 btn-shadow text-nowrap" mat-button>Convert</button>
  </mat-card-content>
</mat-card>
<!-- Free Currency API Ends -->