/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}



/* ===== 02. Global Style ===== */
body {
    overflow-x: hidden;
}



a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #c9c3c3;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* <!-- ====== 1.1. Header section ====== --> */

.header-index {
    background-image: url("/assets/Images/bg/hero_bg.png");
    background-position: center center;
    background-size: cover;
}

header {
    padding: 20px 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15px;
    color: #d3c9c1;
}

.container-nav {
    gap: 70px;
}

.navbar-logo {
    margin-right: 25px;
}

.navbar-nav {
    gap: 50px;
}

.nav-link {
    font-weight: 400;
    color: #d3c9c1;
}

nav li a.active,
.nav-link:is(:hover, :focus-visible) {
    color: #f57c48;
}


.nav-right {
    gap: 45px;
}

.nav-right p:first-child {
    color: #d3c9c1;
}

.nav-right span {
    color: #f57c48;
}

.nav-right .fa-magnifying-glass {
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

.nav-right .fa-magnifying-glass:active {
    color: #999;
    transform: scale(0.8);
}

.nav-right .fa-bars {
    color: #ffffff;
    font-size: 22px;
    background-color: #150803;
    padding: 7px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right .fa-bars:active {
    transform: scale(0.9);
}




/* ====== 1.2. hero section ====== */

.hero {
    background-image: url("/assets/Images/bg/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 172px 0 279px 0;
}

.hero .container {
    position: relative;
}

.hero h1 {
    color: #ffffff;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

.hero-social-icon {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.hero-social-icon a {
    padding: 16px 38px 16px 38px !important;
}

.hero-social-icon i {
    font-size: 26px;
    background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon i:hover {
    background: linear-gradient(0deg, #f54a48 0.5%, #f54a48 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon hr {
    display: block;
    margin-top: 68px;
    opacity: 1;
    color: #ffffff;
    width: 110px;
    rotate: 90deg;
}

.center-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero h3 {
    color: #ffffff;
    text-transform: uppercase;
}

.center-btn {
    gap: 1.5rem;
    margin-top: 1rem;
}

/* button hover with background */

.btn_hover2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #d12bec;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 0.8px;
}

.btn_hover2::before {
    content: "";
    border-radius: 50px;
    position: absolute;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    z-index: -1;
    top: 0;
    left: 0;
}

.btn_hover2:hover::before {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

/* button hover end */

.center-btn a {
    padding: 16px 38px 16px 38px !important;
}

/* ====== 1.7. Services section ====== */

.service-1 {
    background: #3d0f41;
    padding: 120px 0;
}


.service-data {
    display: flex;
    flex-wrap: wrap;
}

.service-1 h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service-1 h2 {
    color: #ffffff;
}

.service-1 .col-lg-8 p {
    padding: 0 221px 0 0;
}

.service-1 p {
    color: #d3c9c1;
    position: relative;
    margin-bottom: 15px;
}

.service-1 .service-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.service-1 hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
}

.service-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.service-card {
    border: 1px solid #b520a3;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    box-shadow: 8px 18px 30px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 40px 30px 40px;
    width: 90%;
}

.service-card:hover {
    transform: scale(1.05) !important;
    transition: all 0.4s ease !important;
}

.service-card a {
    color: #d3c9c1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-card a:hover {
    font-weight: 700;
    color: #ffffff;
    gap: 8px;
}

.service-card h3 {
    margin: 20px 0;
    color: #ffffff;
    letter-spacing: 1.25px;
}

.service-card img {
    object-fit: cover;
    margin: auto;
    display: block;
}

.service-card figure {
    background: #ffffff;
    box-shadow: 10px 17px 28px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 76px;
    height: 85px;
    display: flex;
}

.service-card img[alt="slider1"] {
    width: 105px;
}

.service-card img[alt="slider2"] {
    width: 75px;
}

.service-card img[alt="slider3"] {
    width: 60px;
}

/* ====== End of 1.7. Services section ====== */

/* ====== 1.14. Footer section ====== */

footer {
    background: #150725;
    padding: 120px 0 0 0;
}

.footer-hr .flex {
    rotate: -90deg;
}

.footer-hr h6 {
    color: #ffffff;
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.footer-hr h3 {
    margin-top: 125px;
    color: #ffffff;
    letter-spacing: 1px;
}

.footer-hr p {
    color: #ffffff;
    padding: 0 300px;
    margin: 20px 0 30px 0;
}

.footer-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

footer form {
    border-radius: 50px;
    border: 1px solid #6d2f8a;
    background: #381a46;
    width: 76%;
    margin: auto;
}

footer form input {
    border-radius: 50px;
    background: #381a46;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #ffffff;
    width: 68%;
}

footer form button {
    transition: all 0.3s ease;
    text-transform: uppercase;
}

footer form button:hover {
    color: #7436bb;
}

#footer-message {
    background: #fff;
    color: green;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    font-family: "Raleway", sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 10px;
    display: none;
    transition: display all 0.3s ease;
}

.footer-menu {
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #ffffff;
    padding: 50px 0;
    margin-top: 77px;
}

.footer-menu img {
    width: 100px;
    filter: brightness(0) invert(1);
}

.footer-menu ul li a:hover {
    color: #f54a48;
}

.footer-menu i {
    font-size: 20px;
    background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.footer-menu i:hover {
    background: linear-gradient(0deg, #f54a48 0.5%, #f54a48 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu h4 {
    color: #f57c48;
    margin-bottom: 26px;
}

.footer-menu a {
    color: #ffffff;
    padding: 0 !important;
}

.footer-menu .col-lg-4 li {
    display: flex;
    gap: 20px;
}

.footer-menu p {
    padding: 0 78px 0 0;
}

.copyright {
    background: #150725;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 30px;
}

.copyright a {
    color: #ffffff;
}

/* ====== End of 1.14. Footer section ====== */

.btn_hover1 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #d12bec;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    cursor: pointer;
}

.btn_hover1::before {
    border-radius: 50px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    z-index: -1;
    top: 0;
    right: 0;
}

.btn_hover1:hover::before {
    width: 0;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
}

h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 85px;
    font-family: "Raleway", sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 51px;
    font-family: "Raleway", sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 31px;
    font-family: "Raleway", sans-serif;
}

h4 {
    font-size: 22px;
    font-weight: 800;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-family: "Raleway", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Raleway", sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Barlow", sans-serif;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 16px 38px 16px 38px;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

button:focus {
    outline: none;
}


















/* button back to top */

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    padding: 17px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #d12bec;
    cursor: pointer;
    z-index: 999999999999;
}

#backToTopBtn:hover {
    color: #ffffff;
}

/* scrollbar full website */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    border-radius: 5px;
}

/* flex class */
.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-right {
  align-items: right !important;
  justify-content: right;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 1.5rem !important;
}

.gap-3 {
  gap: 3rem !important;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.p-relative {
  position: relative;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-45 {
  margin-top: 4.5rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center;
}

.w-16 {
  width: 16.66666667%;
}

.d-block {
  display: block;
}

.fa-solid {
    font-size: 58px !important;
}


/* responsive */
@media screen and (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }

    .logoipsum-slider figure {
        padding: 30px 18px;
    }

    .team-img {
        min-width: 277px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .team-img {
        min-width: 232px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 925px;
    }

    .feature .flex {
        flex-wrap: wrap;
    }

    .header-card {
        width: 50%;
    }

    .header-card:nth-child(3),
    .header-card:nth-child(4) {
        margin: 0;
    }

    .feature h4 {
        width: 100%;
        margin: 19px 0 15px 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 757px;
    }

    .hero-social-icon {
        position: relative;
        flex-direction: row !important;
        justify-content: center !important;
    }

    .hero-social-icon hr {
        display: none;
    }
    .team-img {
        min-width: 232px;
        object-position: center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 768px) {

    /* global style */
    h1 {
        font-size: 60px;
        font-weight: 800;
        line-height: 66px;
    }

    h2 {
        font-size: 34px;
        font-weight: 800;
        line-height: 48px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }

    h5 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    h6 {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    button {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 14px 30px 14px 30px;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 14px 30px 14px 30px !important;
    }

    .h2_margin {
        margin: 13px 0;
    }

    .container {
        max-width: 757px;
    }

    /* ====== index.html ====== */
    .hero {
        padding: 110px 0 279px 0;
    }

    .ab-feature {
        padding: 10px 0 60px 0;
    }

    .logoipsum {
        padding: 100px 0;
    }

    .logoipsum .hr1 {
        width: 80px;
        margin: 0 auto 33px auto;
    }

    .logoipsum .hr2 {
        width: 80px;
        margin: 33px auto 0 auto;
    }

    .logoipsum-slider {
        margin-top: 12px;
    }

    .logoipsum img {
        width: 150px;
    }

    .about {
        padding: 70px 0;
    }

    .ab-count {
        width: 155px;
        height: 155px;
    }

    .ab-count h5 {
        width: 110px;
    }

    .portfolio-1 {
        padding: 70px 0 70px 0;
    }

    .gallary {
        padding-bottom: 70px;
    }

    .tab button {
        padding: 11px 19px;
    }

    .gallary img {
        height: 300px;
    }

    .gallary img[alt="sm_img"] {
        height: 150px;
    }

    .gallary .container {
        margin-top: -355px;
    }

    .gallary .mt {
        margin-top: -258px;
    }

    .service-1 {
        padding: 70px 0;
    }

    .service-1 .flex-column {
        flex-wrap: wrap;
    }

    .service-card {
        width: 48%;
    }

    .service-1 .s-card {
        flex-wrap: wrap;
    }

    .service-card img[alt="slider1"] {
        width: 85px;
    }

    .service-card img[alt="slider2"] {
        width: 62px;
    }

    .service-card img[alt="slider3"] {
        width: 52px;
    }

    .experience {
        padding: 70px 0;
    }

    .ex-card .flex {
        padding: 26px 2px;
    }

    .ex-card p {
        margin-top: 5px;
    }

    .work-line div {
        padding: 33px 8px 32px 29px;
    }

    .work {
        padding: 70px 0;
    }

    .work-para {
        padding: 0 95px;
    }

    .work-line div:first-child {
        width: 185px;
        min-height: 185px;
    }

    .work-line div:nth-child(2) {
        width: 170px;
        min-height: 170px;
    }

    .work-line div:nth-child(3) {
        width: 185px;
        min-height: 185px;
    }

    .work-line div:last-child {
        width: 170px;
        min-height: 170px;
    }

    .testimonial {
        padding: 120px 0 70px 0;
    }

    .team {
        padding: 70px 0 0 0;
    }

    #team {
        padding: 70px 0 70px 0;
    }

    .overlay_text i {
        font-size: 18px;
    }

    .team-btn {
        margin-top: 70px;
    }

    .team h2 {
        padding: 0 0 0 0;
    }

    .team p {
        padding: 0 0 0 0;
    }

    .pricing {
        padding: 70px 0;
    }

    #pricing {
        padding: 70px 0;
    }

    .pricing-hr {
        display: none !important;
    }

    .faq {
        padding: 70px 0;
    }

    #faq {
        padding: 70px 0;
    }

    .faq .text-center h2 {
        padding: 0 10px 0 0;
    }

    .faq .text-center p {
        padding: 0 10px 0 0;
    }

    .blog {
        padding: 70px 0;
    }

    .footer-hr p {
        padding: 0 30px;
    }

    .service-page {
        padding: 70px 0 50px 0;
    }

    /* ====== contact.html ====== */
    .contact form {
        padding: 40px 45px;
    }

    .contact-address hr {
        display: none;
    }

    .flex-sb {
        flex-wrap: wrap;
    }

    .w-50 {
        width: 100%;
    }

    .about-imgs {
        margin-top: 50px;
    }

    #footer-form {
        overflow: hidden;
        width: 100%;
        justify-content: center;
    }

    #footer-form input {
        width: 100%;
        padding: 30px;
    }

    #footer-form button {
        width: 100%;
    }
    .blog p{
        padding: 0;
    }
}

@media screen and (max-width: 630px) {
    .header-card {
        width: 100%;
        margin: 0;
    }

    .gallary .w-33,
    .gallary .w-66 {
        width: 100%;
    }

    .portfo-center {
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .portfo-center .gap-1,
    .service-data .gap-1,
    .exp-center .gap-1,
    .blog-center .gap-1,
    .team-center .gap-1 {
        justify-content: center !important;
        flex-wrap: wrap !important;
    }

    .portfo-center .w-50,
    .portfo-center .w-100,
    .service-data .w-66,
    .service-data .w-33,
    .exp-center .w-66,
    .exp-center .w-33,
    .blog-center .w-33,
    .blog-center .w-66,
    .team-center .w-66,
    .team-center .w-33{
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
        justify-content: center !important;
    }
    .team-center{
        flex-wrap: wrap;
    }
    .blog-center {
        flex-wrap: wrap;
    }

    .blog-cards {
        flex-wrap: wrap;
    }

    .blog-card {
        flex: none !important;
        width: 100%;
    }

    .portfo-center .w-100 {
        margin-top: 1rem;
    }

    .portfolio-1 p {
        padding: 0;
    }

    .service-card {
        width: 100%;
    }

    .work-para {
        padding: 0 10px;
    }

    .work-line {
        background-image: none;
    }

    .work-line div {
        position: relative;
        padding: 0;
        text-align: center;
    }

    .work-line h4 {
        padding: 0 17px;
    }

    .work-line div:first-child {
        top: 20px;
        left: 0;
    }

    .work-line div:nth-child(2) {
        top: 20px;
        left: 20px;
    }

    .work-line div:nth-child(3) {
        left: 0;
        top: 20px;
    }

    .work-line div:last-child {
        top: 20px;
        left: 0;
    }

    .work-line {
        margin: 25px 25px 53px 25px;
    }

    .work-line div {
        width: 170px !important;
        min-height: 170px !important;
    }

    .pricing-card {
        flex-wrap: wrap;
    }

    .pricing p {
        padding: 0 10px;
    }

    .pricing-card div:nth-child(2) {
        transform: scale(1);
    }

    .pricing-card {
        align-items: center;
    }

    .blog p {
        padding: 0;
    }

    .footer-menu .flex-start {
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center !important;
    }
    .footer-center .w-33,
    .footer-center .w-16,
    .footer-center .w-16,
    .footer-center .w-33 {
        width: 100% !important;
        max-width: 100% !important;

    }
    .footer-menu p{
        text-align: center;
        padding: 0;
    }
    .footer-menu a{
        text-align: center;
    }
    .footer-menu h4{
        text-align: center;
    }


    .team-img{
        width: 100px;
    }

    #search-bar form{
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    /* global style */
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    h6 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    button {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 12px 26px 12px 26px;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 12px 26px 12px 26px !important;
    }

}


@media screen and (max-width: 480px) {
    .hero {
        padding: 44px 0 82px 0;
    }

    /* global style */
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    h6 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    button {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 12px 26px 12px 26px;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 12px 26px 12px 26px !important;
    }
}