<!-- Start site wrapper -->
<div class="site-wrapper">
  <div class="header-index">
    <!-- ====== 1.1. Header section ====== -->
    <header>
      <nav class="container navbar">
        <div class="container-nav flex">
          <!-- site logo -->
          <a class="navbar-logo" href="/">
            <img src="./assets/Images/angular_logo.png" alt="logo" width="93">
          </a>
          <!-- menus -->
          <ul class="navbar-nav flex">
            <li><a class="nav-link active" href="/">Join</a></li>
          </ul>
        </div>

        <div class="flex nav-right">
          <span style="cursor: pointer;">Apps</span>
        </div>
      </nav>
    </header>
    <!-- ====== End of 1.1. Header section ====== -->
    <!-- ====== 1.2. hero section ====== -->
    <section class="hero">
      <div class="container" data-aos="zoom-in">
        <div>
          <div class="center-data">
            <h1>Achieve your best work online</h1>
            <h3>Gain access to free online tools to enhance your productivity</h3>
            <div class="center-btn flex">
              <a href="services.html" class="btn_hover1">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== End of 1.2. hero section ====== -->
  </div>



  <!-- ====== 1.7. Services section ====== -->
  <section class="service">
    <div class="service-1">
      <div class="container">
        <div class="service-data" data-aos="fade-down">
          <div class="w-66">
            <div class="flex gap-1">
              <hr class="service-hr1">
              <h5>TOOLS</h5>
            </div>
            <h2 class="mt-15">Tools we offer</h2>
            <p class="mt-15">Try out our powerful productivity tools for free.
            </p>
          </div>
          <hr class="mt-15 mb-15">
        </div>
        <div class="row">
          <div class="col-4 mt-5">
            <div class="service-card" role="button" data-aos="fade-down">
              <figure>
                <i class="fa-solid fa-file-pdf"></i>
              </figure>
              <h3>Word to PDF Converter</h3>
              <p>Convert a Word file to PDF
              </p>
            </div>
          </div>
          <div class="col-4 mt-5">
            <div class="service-card" role="button" data-aos="fade-down">
              <figure>
                <i class="fa-solid fa-file-invoice"></i>
              </figure>
              <h3>Invoice Generator</h3>
              <br />
              <p>Create and send invoices in seconds
              </p>
            </div>
          </div>
          <div class="col-4 mt-5">
            <div class="service-card" role="button" data-aos="fade-down">
              <figure>
                <i class="fa-solid fa-list-check"></i>
              </figure>
              <h3>Task Manager</h3>
              <br />
              <p>Organize your tasks and get more done
              </p>
            </div>
          </div>
          <div class="col-4 mt-5">
            <div class="service-card" role="button" data-aos="fade-down">
              <figure>
                <i class="fa-solid fa-address-book"></i>
              </figure>
              <h3>Contact <br /> Saver</h3>
              <br />
              <p>Save and organize your contacts
              </p>
            </div>
          </div>
          <div class="col-4 mt-5">
            <div class="service-card" role="button" data-aos="fade-down">
              <figure>
                <i class="fa-solid fa-compress"></i>
              </figure>
              <h3>Image <br />Compressor</h3>
              <p>Compress your images without losing quality
              </p>
            </div>
          </div>
          <div class="col-4 mt-5">
            <div class="service-card" role="button" data-aos="fade-down">
              <figure>
                <i class="fa-solid fa-lock"></i>
              </figure>
              <h3>Password Generator</h3>
              <p>Generate strong and secure passwords
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== End of 1.7. Services section ====== -->

  <!-- ====== 1.15. Footer section ====== -->
  <footer>
    <div class="container">
      <div class="footer-hr flex flex-col">
        <div class="flex gap-1" data-aos="fade-left">
          <hr>
          <h6>Newsletter</h6>
        </div>
        <h3>JOIN OUR MAILING LIST</h3>
        <p class="text-center">Be the first to know any time we add a new productivity tool to our platform.
        </p>
      </div>
      <form id="footer-form" class="flex flex-sb gap-2" data-aos="zoom-in" data-aos-delay="400">
        <div id="footer-message"></div>
        <input type="email" required placeholder="Enter your mail">
        <button type="submit" class="btn_hover1">Get Started</button>
      </form>
    </div>

    <div class="copyright">
      <div class="container flex flex-sb gap-2 flex-wrap">
        <h6>Copyright © 2025 Angular.ng By <a href="https://www.youtube.com/@TheCodeAngle" class="p-0" target="_blank">
            Thecodeangle. </a> All Rights Reserved.
        </h6>
        <h6>Powered By <b> Thecodeangle </b></h6>
      </div>
    </div>
  </footer>
</div>

<!-- end site wrapper -->